<app-header></app-header>
<section class="banner_section p-0 full_screen">
    <div #carouselExampleControls class="banner_content_wrap carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_50" data-img-src="assets/images/banner4.jpg"
                style="background-image: url(assets/images/banner4.jpg);
			background-position: center center;
			background-size: cover;">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn"
                                    data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="zoomIn"
                                        data-animation-delay="1s">Welcome To <span class="text_default">Ice
                                            Campus</span></h2>
                                    <p class="animation" data-animation="zoomIn" data-animation-delay="1.5s">Lorem is
                                        simply text of the printing and typesetting industry.</p>
                                    <a class="btn btn-default animation rounded-0" href="#" data-animation="zoomIn"
                                        data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation rounded-0" href="#"
                                        data-animation="zoomIn" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_50" data-img-src="assets/images/banner5.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn"
                                    data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="zoomIn"
                                        data-animation-delay="1s">Learn Online <span class="text_default">Courses</span>
                                    </h2>
                                    <p class="animation" data-animation="zoomIn" data-animation-delay="1.5s">Contrary to
                                        popular belief, Lorem Ipsum is not simply random</p>
                                    <a class="btn btn-default animation rounded-0" href="#" data-animation="zoomIn"
                                        data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation rounded-0" href="#"
                                        data-animation="zoomIn" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_50" data-img-src="assets/images/banner6.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn"
                                    data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="zoomIn"
                                        data-animation-delay="1s"><span class="text_default">Eduction</span> from a new
                                        angle</h2>
                                    <p class="animation" data-animation="zoomIn" data-animation-delay="1.5s">Contrary to
                                        popular belief, Lorem Ipsum is not simply random</p>
                                    <a class="btn btn-default animation rounded-0" href="#" data-animation="zoomIn"
                                        data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation rounded-0" href="#"
                                        data-animation="zoomIn" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-nav">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="ion-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="ion-chevron-right"></i>
            </a>
        </div>
    </div>
</section>


<section class="sections container d-flex">
    <div class="section-content">
        <div class="section-heading">
            <h3>Lorem ipsum dolor sit amet.</h3>
        </div>
        <div class="section-para">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem deleniti officia velit iure, atque
                iste quam provident cupiditate nulla ducimus enim soluta obcaecati iusto saepe recusandae repudiandae
                laboriosam et quae hic culpa pariatur! Cum, sed? Nesciunt, doloremque accusamus! Assumenda maxime,
                dolores minima reprehenderit quo sapiente voluptatibus aliquam! Nam perspiciatis veritatis reiciendis

            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem deleniti officia velit iure, atque
                iste quam provident cupiditate nulla ducimus enim soluta obcaecati iusto saepe recusandae repudiandae
                laboriosam et quae hic culpa pariatur! Cum, sed? Nesciunt, doloremque accusamus! Assumenda maxime,
                dolores minima reprehenderit quo sapiente voluptatibus aliquam! Nam perspiciatis veritatis reiciendis

            </p>
        </div>
        <div class="readMore">
            <button mat-raised-button color="primary">Read More <mat-icon>arrow_forward</mat-icon></button>
        </div>
    </div>
    <div class="section-img">
        <img src="https://bestwpware.com/html/tm/childcare-preview/assets/img/about-kid.jpg" alt="img">
    </div>
</section>
<section class="sections container d-flex pt-3">
    <div class="section-content w-100">
        <div class="section-heading d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-center">
                Our Services
            </h3>
            <div class="divider"></div>
            <p class="my-4 mx-0 mx-md-5">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim
                minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
        </div>
        <div class="section-box row">
            <div class="service-card col-12 col-md-4">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
            <div class="service-card col-12 col-md-4">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
            <div class="service-card col-12 col-md-4">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
            <div class="service-card col-12 col-md-4">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
            <div class="service-card col-12 col-md-3">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
            <div class="service-card col-12 col-md-4">
                <div class="service-card-img">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="service-card-heading">
                    <h4>School</h4>
                </div>
                <div class="service-card-para">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officiis a deserunt facilis
                        molestias accusamus.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="about">
    div.
</section>
<section class="about">
    div.
</section>
<section class="about">
    div.
</section>
<section class="about">
    div.
</section>
<section class="about">
    div.
</section>
<section class="about">
    div.
</section>